body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0px;
  text-align: center;
}

/* Header */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

nav a {
  color: seashell;
}

.logo {
  display: inline-block;
  height: 50px;
  width: 200px;
  padding-left: 10px;
  flex-grow: 1;
  text-align: left;
}

.logo-img {
  max-height: 100%;
  max-width: 100%;
}
.header-nav {
  display: inline-block;
}

.header-nav span {
  margin-right: 20px;
}

/*Headers*/
h2, h3, h4 {
  padding: 10px;
  margin: 0px;
}

/*Theme*/

section {
  padding-top: 70px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
/*Mission Content*/

#mission {
  height: 700px;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
}

.mission-background {
  background-image: url("../images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-body {
  width: 1200px;
}

/*Tea of the Month Content*/

#featured {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 1;
}

.tea-month {
  max-width: 1000px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.section-body {
  width: 1000px;
}

.features {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 1050px;
}

.featured-item {
  width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 25px;
}

.feature-img {
  height: 200px;
  width: 300px;
  margin: 0px;
}

/* Locations */

#locations {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 770px;
}

.location-background {
  background-image: url("../images/img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  height: 500px;
  padding-top: 70px;
}

.location-body {
  width: 1200px;
  padding-bottom: 5px;
}

.locations {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.location {
  width: 300px;
  height: 275px;
  margin: auto 20px;
  background-color: black;
  opacity: 1;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

#contact {
  height: 200px;
}

/*Footer*/
footer {
  text-align: left;
  padding-left: 20px;
}
