body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

/*TEMP */
div {
  border: 1px solid seashell;
}
/* Header */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

header nav a {
  text-decoration: underline;
  color: seashell;
}

.logo {
  display: inline-block;
  height: 50px;
  width: 200px;
  padding-left: 10px;
  flex-grow: 1;
}

.logo-img {
  max-height: 100%;
  max-width: 100%;
}
.header-nav {
  display: inline-block;
  flex-direction: row;
  justify-content: flex-end;
}

.header-nav span {
  margin-right: 20px;
}

/*Headers*/
h2 {
  margin: 11px auto 22px auto;
}

h4 {
  margin: auto auto 11px auto;
}

/*Theme*/

section {
  padding-top: 70px;
  width: 100%;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
/*Mission Content*/

#mission {
  height: 700px;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
}

.mission-background {
  background-image: url("../images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 1200px;
}

/*Tea of the Month Content*/

#tea-of-the-month {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.tea-month {
  max-width: 1000px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.section-body {
  width: 1000px;
}

.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1000px;
}

.monthly {
  flex-basis: 300px;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-img {
  max-height: 200px;
  max-width: 300px;
  margin-bottom: 10px;
}
